<h1>Dashboard</h1>

<div>
    <div>{{firstName}}</div>
    <div>{{lastName}}</div>
</div>

<div>
    <a href="/give/{{this.id}}">
        <img src="imgs/nvlogo.png" alt="NVRJ" height="42" width="42">
    </a>
</div>