<h2>ACCOUNT DELETION</h2>


{{#if message}}
<div class="alert alert-danger">{{message}}</div>
{{/if}}

<form action="/delete/{{this.id}}?_method=delete" method="post">
    <div class="form-group">
        <input type="checkbox" name="delete" value="delete"> Please delete my account<br>

    </div>

    <input class="btn btn-default" type="submit">
</form>