<h2>Give Below!</h2>




<form method="post" action="/give/{{userId}}">
    <div class="form-group">
        <label for="amount">Credit Card </label>
        <input class="form-control" type="tel" name="amount" id="amount">
    </div>
    <div class="form-group">
        <label for="amount">Expiration Date </label>
        <input class="form-control" type="amount" name="amount" id="amount">
    </div>
    <div class="form-group">
        <label for="amount">Amount $$</label>
        <input class="form-control" type="amount" name="amount" id="amount">
    </div>

    <input class="btn btn-default" type="submit">
</form>