<!DOCTYPE html>
<html>

{{!-- change the name of this file to layout --}}

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>GiveBlack</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header>
        <nav>
            <div class="navbar">
                <a href="/">GiveBlack</a>
            </div>
        </nav>
        <p>
            <div class="homepage">
                <a href="/login">Log In</a>
                <a href="/signup">Sign Up</a>
            </div>
        </p>
    </header>
    <main class="container">
        {{{ body }}}
    </main>
</body>

</html>