<!DOCTYPE html>
<html>

{{!-- change the name of this file to layout --}}

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>GiveBlack</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <div class="navbar">
        <a href="/">GiveBlack</a>
    </div>


    <div class="homepage">
        {{#if message}}
        <div class="alert alert-danger">{{message}}</div>
        {{/if}}
        <a href="/login">Log In</a>
        <a href="/signup">Sign Up</a>
    </div>

    <main class="container">
        {{{ body }}}
    </main>
</body>

</html>