<div class="homepage">
    {{#if message}}
    <div class="alert alert-danger">{{message}}</div>
    {{/if}}
    <div class="container">
        <a class="enter" href="/login">Log In</a>
        <a class="enter" href="/signup">Sign Up</a>
    </div>
</div>


{{!-- <div class="descript">
    <h1> description of app</h1>
</div> --}}