<!DOCTYPE html>
<html>


<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>GiveBlack</title>
    <link rel="stylesheet" type='text/css' href="/imgs/main.css">

</head>

<body>
    <div>
        <a href="/">GiveBlack</a>
    </div>



    <main>
        {{{ body }}}
    </main>
</body>

</html>