<h2>Add an Organizaton</h2>



<form method="post" action="/new">
    <div class="form-group">
        <label for="name">Organization Name</label>
        <input class="form-control" type="text" name="name">
    </div>
    <div class="form-group">
        <label for="mission">Briefly describe organization's mission</label>
        <input class="form-control" type="text" name="mission">
    </div>

    <div class="form-group">
        <label for="url">Organization website</label>
        <input class="form-control" type="text" name="url">
    </div>
    <input class="btn btn-default" type="submit">
</form>